%h1= t('artists.editing')

%p{:id=>"tsandcs"}
  = t('read')
  = succeed "?" do
    %a{:href => root_path}
      = t('tsandcs')
%input{:type => "checkbox", :id => "tsandcsCheck"}/

= render 'form'

= link_to t('artists.view'), @artist
\|
= link_to t('artists.view_all'), artists_path
