%h2= t('artists.listing')

%table
  %thead
    %tr
      %th= t('artists.form.name')
      %th= t('artists.form.desc')
      %th= t('artists.form.active')
      %th
      %th
      %th

  %tbody
    - @artists.each do |artist|
      %tr
        %td= artist.name
        %td= artist.description
        %td= artist.active
        %td= link_to t('artists.show'), artist
        %td= link_to t('artists.edit'), edit_artist_path(artist)
        %td= link_to t('artists.destroy'), artist, method: :delete, data: { confirm: t('confirm') }

%br

= link_to 'New Artist', new_artist_path, :class => "add_tuple"
