%h1= t('new_artist')

%p{:id=>"tsandcs"}
  = t('read')
  = succeed "?" do
    %a{:href => root_path}
      = t('tsandcs')
%input{:type => "checkbox", :id => "tsandcsCheck"}/

= render 'form'

= link_to t('artists.return'), artists_path
