%p
  %b= t('artists.form.name')
  = @artist.name
%p
  %b= t('artists.form.desc')
  = @artist.description
%p
  %b= t('artists.form.active')
  = @artist.active

%p= t('artists.albums')
%table
  %tbody
    - @artist.albums.each do |album|
      %tr{id: "album_#{album.id}"}
      %td= album.title
      %td= album.release
      %td= link_to t('albums.view'), album
      %td= link_to t('albums.edit'), edit_album_path(album)
      %td= link_to t('albums.destroy'), album, :method => :delete, :data => { :confirm => t('confirm') }, :remote => true

%p= link_to t('artists.add_album'), new_album_path(artist_id: @artist), :class => "add_tuple"

= link_to t('artists.edit'), edit_artist_path(@artist)
\|
= link_to t('artists.view_all'), artists_path
