%p#notice= notice

%p
  %b Name:
  = @artist.name
%p
  %b Description:
  = @artist.description
%p
  %b Active:
  = @artist.active

%p= link_to t('artists.add_album'), new_album_path(artist_id: @artist)

= link_to t('artists.edit_artist'), edit_artist_path(@artist)
\|
= link_to t('artists.return'), artists_path
