%p
  %b Name:
  = @artist.name
%p
  %b Description:
  = @artist.description
%p
  %b Active?:
  = @artist.active

%p Albums:
%table
  %tbody
    - @artist.albums.each do |album|
      %tr{id: "album_#{album.id}"}
      %td= album.title
      %td= album.release
      %td= link_to 'Show', album
      %td= link_to 'Edit', edit_album_path(album)
      %td= link_to 'Destroy', album, :method => :delete, :data => { :confirm => 'Are you sure?' }, :remote => true

%p= link_to t('artists.add_album'), new_album_path(artist_id: @artist)

= link_to t('artists.edit_artist'), edit_artist_path(@artist)
\|
= link_to t('artists.return'), artists_path
