<div>
  <header class='navbar'>
    <nav>
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "View Artists", artists_path %></li>
        <li><%= link_to "View Albums", albums_path %></li>
        <li><%= link_to "View Songs", songs_path %></li>
        <li><%= link_to "Contact Us", contact_path %></li>
      </ul>
    </nav>
  </header>
</div>
