%p#homeClock
  %b
    =t('home.home.time')
    %span#clock 0.0
%h1= t('.title')
%p= t('.welcome')
%ul
  %li= t('home.home.rule1')
  %li= t('home.home.rule2')
  %li= t('home.home.rule3')
  %li= t('home.home.rule4')
  %li= t('home.home.rule5')
  %li= t('home.home.rule6')
