%h1= t('songs.editing')

%p{:id=>"tsandcs"}
  = t('read')
  = succeed "?" do
    %a{:href => root_path}
      = t('tsandcs')
%input{:type => "checkbox", :id => "tsandcsCheck"}/

= render 'form'

= link_to t('songs.view'), @song
\|
= link_to t('songs.view_all'), songs_path
