%h2= t('songs.listing')
%h3= t('songs.create')

%table
  %thead
    %tr
      %th= t('songs.form.title')
      %th= t('songs.form.album')
      %th= t('songs.form.artist')
      %th= t('songs.form.length')
      %th
      %th
      %th

  %tbody
    - @songs.each do |song|
      %tr
        %td= song.title
        %td= song.album.title
        %td= song.album.artist.name
        %td= song.length
        %td= link_to t('songs.show'), song
        %td= link_to t('songs.edit'), edit_song_path(song)
        %td= link_to t('songs.destroy'), song, method: :delete, data: { confirm: t('confirm') }

%br
