%h1 Listing songs
%h2 To Create a new song, go to an album and click 'Add Song'!

%table
  %thead
    %tr
      %th Title
      %th Album
      %th Artist
      %th Length (Mins)
      %th
      %th
      %th

  %tbody
    - @songs.each do |song|
      %tr
        %td= song.title
        %td= song.album.title
        %td= song.album.artist.name
        %td= song.length
        %td= link_to 'Show', song
        %td= link_to 'Edit', edit_song_path(song)
        %td= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' }

%br
