%p
  %b= t('songs.form.title')
  = @song.title
%p
  %b= t('songs.form.album')
  = @song.album.title
%p
  %b= t('songs.form.length')
  = @song.length

= link_to t('songs.edit'), edit_song_path(@song)
\|
= link_to t('songs.view_all'), songs_path
