%h2= t('albums.listing')
%h3= t('albums.create')

%table
  %thead
    %tr
      %th= t('albums.form.title')
      %th= t('albums.form.artist')
      %th= t('albums.form.desc')
      %th= t('albums.form.release')
      %th= t('albums.form.numOfSongs')
      %th= t('albums.form.length')
      %th
      %th
      %th

  %tbody
    - @albums.each do |album|
      %tr
        %td= album.title
        %td= album.artist.name
        %td= album.description
        %td= album.release
        %td= album.numOfSongs
        %td= album.length
        %td= link_to t('albums.show'), album
        %td= link_to t('albums.edit'), edit_album_path(album)
        %td= link_to t('albums.destroy'), album, method: :delete, data: { confirm: t('confirm') }

%br
