%h1 Listing albums
%h2 To Create a new album, go to an artist and click 'New Album'!

%table
  %thead
    %tr
      %th Artist
      %th Title
      %th Description
      %th Release Date
      %th Number of songs
      %th Length (Mins)
      %th
      %th
      %th

  %tbody
    - @albums.each do |album|
      %tr
        %td= album.artist.name
        %td= album.title
        %td= album.description
        %td= album.release
        %td= album.numOfSongs
        %td= album.length
        %td= link_to 'Show', album
        %td= link_to 'Edit', edit_album_path(album)
        %td= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }

%br
