%h1= t('albums.new_album')

%p{:id=>"tsandcs"}
  = t('read')
  = succeed "?" do
    %a{:href => root_path}
      = t('tsandcs')
%input{:type => "checkbox", :id => "tsandcsCheck"}/

= render 'form'

= link_to t('albums.view_all'), albums_path
