%p
  %b Title:
  = @album.title
%p
  %b Artist:
  = @album.artist.name
%p
  %b Description:
  = @album.description
%p
  %b Release Date:
  = @album.release
%p
  %b Number of Songs:
  = @album.numOfSongs
%p
  %b Length (mins):
  = @album.length

%p Songs:
%table
  %tbody
    - @album.songs.each do |song|
      %trr{id: "song_#{song.id}"}
        %td= song.title
        %td= song.length
        %td= link_to t('songs.show'), song
        %td= link_to t('songs.edit'), edit_song_path(song)
        %td= link_to t('songs.destroy'), song, :method => :delete, :data => { :confirm => t('confirm') }, :remote => true

%p= link_to t('add_song'), new_song_path(album_id: @album), :class => "add_tuple"

= link_to t('albums.edit'), edit_album_path(@album)
\|
= link_to t('albums.view_all'), albums_path
