%p
  %b Artist:
  = @album.artist.name
%p
  %b Title:
  = @album.title
%p
  %b Description:
  = @album.description
%p
  %b Release Date:
  = @album.release
%p
  %b Number of Songs:
  = @album.numOfSongs
%p
  %b Length:
  = @album.length

%p Songs:
%table
  %tbody
    - @album.songs.each do |song|
      %trr{id: "song_#{song.id}"}
        %td= song.title
        %td= song.length
        %td= link_to 'Show', song
        %td= link_to 'Edit', edit_song_path(song)
        %td= link_to 'Destroy', song, :method => :delete, :data => { :confirm => t('confirm') }, :remote => true

%p= link_to t('add_song'), new_song_path(album_id: @album)

= link_to 'Edit', edit_album_path(@album)
\|
= link_to 'Back', albums_path
